# OS / Editor
/.vscode/
.DS_Store
Thumbs.db

# Java
/target/
*.class

# Node
/node_modules/
/web/dist/
/mobile/node_modules/

# Sensitive
/secrets/
.env
.idea/
.vscode/
*.iml

**/target/
**/.classpath
**/.project
**/.settings/

.env
*.log

maps/*.osm.pbf
maps/*.mbtiles
maps/cache/

secrets/

**/node_modules/
**/dist/
**/.DS_Store

